
.div-content {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(8px);
    -webkit-filter: blur(8px);
  }
  ion-item{
    --min-height: 60px;
  }
  ion-input{
    --padding-start: 10px;
  }
  
  ion-button{
    margin: 25px 10px 10px 10px;
  }